<app-header></app-header>

<app-navbar></app-navbar>

<div class="container p-5" *ngIf="visibilidadeTabela">
  <div class="border border-light rounded p-5">
    
    <div>
      <button type="button" class="btn btn-sm custom-btn" (click)="ExibirFormularioCadastro()">
        Novo Departamento
      </button>      
    </div>

    <hr/>

    <table class="table table-striped table-hover table-sm" *ngIf="departamentos.length">
      <thead>
        <tr class="thead-light">
          <th>Código do Departamento</th>
          <th>Descrição</th>
          <th>Status</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let departamento of departamentos">
          <td>{{ departamento.coddepto }}</td>
          <td>{{ departamento.descricao }}</td>
          <td>{{ departamento.status }}</td>
          <td>
            <button type="button" class="btn btn-sm btn-outline-info" (click)="ExibirFormularioAtualizacao(departamento)">
              Atualizar
            </button>
            |
            <button type="button" class="btn btn-sm btn-outline-danger" (click)="ExibirConfirmacaoExclusao(departamento, conteudoModal)">
              Excluir
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="container p-5" *ngIf="visibilidadeFormulario">
  <div class="row">
    <div class="col-6 border border-light rounded p-5 shadow" *ngIf="formulario">
      <h4>{{ tituloFormulario }}</h4>
      <hr />

      <form [formGroup]="formulario" (ngSubmit)="EnviarFormulario()">
        <div class="form-group formulario-coddepto" [ngClass]="{ 'hidden': emModoEdicao }">
          <label>Código do Departamento</label>
          <input
            type="text"
            class="form-control form-control-sm"
            formControlName="coddepto"
          />
        </div>  

        <div class="form-group">
          <label>Descrição</label>
          <input
            type="text"
            class="form-control form-control-sm"
            formControlName="descricao"
            [disabled]="!emModoEdicao"
          />
        </div>

        <div class="form-group">
          <label>Status</label>
          <input
            type="text"
            class="form-control form-control-sm"
            formControlName="status"
            [disabled]="!emModoEdicao" 
          />
        </div>

        <div class="container">
          <div class="row">
            <div>
              <button type="submit" class="btn btn-sm btn-outline-secondary">
                Salvar
              </button>
            </div>
            <div class="pl-1">
              <button type="button" class="btn btn-sm btn-light" (click)="Voltar()">Voltar</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<ng-template #conteudoModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Confirmação de Exclusão</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    Prosseguir com a exclusão do(a) {{ descricao }}?
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modalRef.hide()">Não</button>
    <button type="button" class="btn btn-outline-danger" (click)="ExcluirDepartamentos()">Sim</button>
  </div>
</ng-template>