<button class="toggle-button" (click)="toggleNavbar()">☰</button>

<div class="navbar" [class.hidden]="!isVisible">
  <div class="tools">
    <button class="cadastros-button" (click)="toggleCadastroTools()">Cadastros</button>
    <div class="cadastros-tools" *ngIf="isCadastroVisible">
      <button class="tool-button" (click)="goToDepartamento()">Departamentos</button>
      <button class="tool-button">Produtos</button>
      <button class="tool-button">Tool 3</button>
    </div>
  </div>

  <div class="logout-container">
    <button class="logout-button" (click)="logout()">
      <i class="material-icons">logout</i>
    </button>
  </div>
</div>
