.navbar {
    position: fixed;
    top: 64px;
    left: 0;
    width: 250px;
    height: calc(100vh - 64px);
    background-color: #333;
    color: white;
    padding: 10px;
    box-shadow: 4px 0 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    gap: 10px;
    transition: transform 0.3s ease-in-out;
    z-index: 1000;
    transform: translateX(-100%);
}

.navbar.hidden {
    transform: translateX(0);
}

.navbar button {
    background-color: #444;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.navbar button:hover {
    background-color: #555;
}

.toggle-button {
    position: fixed;
    top: 13px;
    left: 20px;
    background-color: #333;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1001; 
}

.toggle-button:hover {
    background-color: #444;
}
